@page "{handler?}/{shity?}"
@model RoutePageModel
<form asp-route-handler="save" method="post">
    <input asp-for="Name" placeholder="@RoutePageModel.N.Name" />
    <input asp-for="FirstName" placeholder="@RoutePageModel.N.FirstName" />
    <button>@RoutePageModel.N.Submit</button>
</form>
<p><a asp-route-handler="routeDatahandler" asp-route-shity="routeDatashity" asp-route-fuk="querystringDataFuk">route parameter "shity"</a></p>
<h3>@Model.Msg</h3>
<h3>@Model.Msg2</h3>